{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
  
    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
  {%- endstyle -%}
  
{%- paginate blog.articles by 3 -%}    
<section class="main-blog section-{{ section.id }}-padding recpe-blogs">
    <div class="container">
        <div class="slector">
            <select>
                <option>All</option>
                <option>All</option>
                <option>All</option>
            </select>
        </div>
        <div class="resc-flex">
            {%- for article in blog.articles -%}            
        {%- render 'custom-article-card',
            article: article,
            show_date: section.settings.show_date,
            show_author: section.settings.show_author,
            show_excerpt: true
        -%}
        {%- endfor -%}
        </div>
        {%- if paginate.pages > 1 -%}
            {%- render 'pagination', paginate: paginate -%}
        {%- endif -%}
    </div>
</section>
{%- endpaginate -%}
{% schema %}
  {
    "name": "t:sections.main-blog.name",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.main-blog.settings.header.content"
      },
      {
        "type": "checkbox",
        "id": "show_date",
        "default": true,
        "label": "t:sections.main-blog.settings.show_date.label"
      },
      {
        "type": "checkbox",
        "id": "show_author",
        "default": false,
        "label": "t:sections.main-blog.settings.show_author.label"
      },
      {
        "type": "paragraph",
        "content": "t:sections.main-blog.settings.paragraph.content"
      }, {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 0
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 0
      }
    ]
  }
{% endschema %}