<div
  class="sustainlibilty">
  <div
    class="ccontainer">
    <h2>
      {{ section.settings.heading }}
    </h2>
    {% if section.settings.image != blank %}
      <img
        width="{{ section.settings.image.width }}"
        height=""
        src="{{ section.settings.image | image_url: width: 2000 }}"
        alt="{{ section.settings.image.alt | escape }}"
        class="motion-reduce img-fluid mx-auto sustain-img-block"
        loading="lazy">
    {% else %}
      {{ 'image' | placeholder_svg_tag: "placeholder-svg placeholder" }}
    {% endif %}

    <p>
      {{ section.settings.text }}
    </p>
    <div
      class="rabbitContainer">
      {% for block in section.blocks %}
        <div
          class="col">
          {% render 'responsive-image', image: block.settings.image %}
          <p>
            {{ section.settings.heading }}
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Sustainability",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }, {
        "type": "inline_richtext",
        "id": "text",
        "label": "Text"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "blocks": [
      {
        "name": "Block",
        "type": "block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Sustainability"
      }
    ]
  }
{% endschema %}