<div
  class="story">
  <div
    class="container">
    <div
      class="imageWrapper">
      {% render 'responsive-image', image: section.settings.image %}
    </div>
    <div
      class="contentWrapepr">
      <h2>
        {{ section.settings.heading }}
      </h2>
      <p>{{ section.settings.info }}</p>
      <span>{{ section.settings.author }}</span>
      {% if section.settings.button_text != blank %}
        <a
          href="{{ section.settings.button_url }}">{{ section.settings.button_text }}</a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Story",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Milky Plant"
      },
      {
        "type": "inline_richtext",
        "id": "info",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "author",
        "label": "Author Name",
        "default": "- Micheal & Nadina, Founders"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "LEARN MORE"
      }, {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "Story"
      }
    ]
  }
{% endschema %}