<div class="recipie" style="background-image: url('{{ section.settings.background_image | image_url : width : section.settings.background_image.width }}');">
  <h2>blogs[section.settings.blog].title</h2>
  <div class="sliderWrapper">
    {% assign articles = blogs[section.settings.blog].articles %}
    {% for article in articles %}
      <div class="slideContainer">
        <a href="{{ article.url }}">
          <div class="innerSlideContainer">
            {% render 'responsive-image', image: article.image %}
            <h5>
              {{ article.title }}
            </h5>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  {% if section.settings.button_text != blank and section.settings.show_all %}
    <a href="{{ section.settings.button_url | default: '#' }}">
      {{ section.settings.button_text }}
    </a>
  {% endif %}
</div>
{% schema %}
  {
    "name": "Recipes",
    "settings": [
      {
        "type": "blog",
        "id": "blog",
        "label": "Blog"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "read recipes"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      },
      {
        "type": "checkbox",
        "id": "show_all",
        "label": "Show All Recipes",
        "default": true
      }, {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      }
    ],
    "presets": [
      {
        "name": "Recipes"
      }
    ]
  }
{% endschema %}